$dominantColor: var(--dominant-color);

.app {
  margin: 0 auto;

  &__cell {
    align-items: center;
    background-color: $dominantColor;
    border: 1px dashed rgba(59, 59, 59, 0.527);
    border-top: 0;
    border-left: 0;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
    min-width: 50px;
    min-height: 50px;

    &--bad {
      background-color: #b2e2e2;
    }

    &--default {
      background-color: #fff;
    }

    &--garbage {
      background-color: #de2d26;
    }

    &--good {
      background-color: #2ca25f;
    }

    &--great {
      background-color: #006d2c;
    }

    &--key {
      background-color: #000;
      color: #fff;
    }

    &--regular {
      background-color: #66c2a4;
    }

    &--spacer {
      background-color: transparent;
    }
  }

  &__column {
    display: inline-flex;
    flex-direction: column;

    &--key {
      flex-direction: row;
      margin: 0 auto;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    // margin: 0 auto;

    &__inner {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0 auto;
    }
  }

  &__debugger {
    margin: 60px auto;
    text-align: center;
    width: 80%;
  }

  &__header {
    display: flex;
  }

  &__image {
    background-size: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 450px;
    height: 450px;
    position: relative;

    &::after {
      width: 450px;
      height: 450px;
      content: '';
      background: radial-gradient(
        circle,
        rgba(2, 0, 36, 0) 0%,
        rgba(9, 9, 121, 0) 20%,
        $dominantColor 60%
      );
      position: absolute;
      top: 0;
      left: 0;
    }

    &__container {
      background-color: $dominantColor;
      min-width: 30%;
      //   background: radial-gradient(
      //     circle,
      //     rgba(2, 0, 36, 0) 0%,
      //     rgba(9, 9, 121, 0) 34%,
      //     $dominantColor 100%
      //   );
    }
  }
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
