.app {
  &__cell {
    align-items: center;
    border: 1px solid black;
    display: flex;
    height: 50px;
    justify-content: center;
    width: 50px;
    min-width: 50px;
    min-height: 50px;

    &--key {
      background-color: #000;
      border: 1px solid #fff;
      color: #fff;
    }
  }

  &__column {
    display: inline-flex;
    flex-direction: column;

    &--key {
      flex-direction: row;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    &__inner {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
}

* {
  box-sizing: border-box;
}
